                          <br>
                          <div class="input-group">
                            <span class="input-group-addon">
                              <input id="is_active[]" name="is_active[]" type="checkbox"   class="is_active" <% if(index == 0) { %>
                              disabled
                              <% } %> value="on" checked >
                            </span>
                            <input id="botanswer[]" name="botanswer[]" type="text" class="form-control botanswer" value="<%=answer%>">
                          </div>